body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #c5b523;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.textbox {
    width: 1516px;
    height: 572px;
    background-size: 1516px 572px;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    top: 0px; /* Moves the text box up to align with the specific coordinates */
    left: 169px; /* Moves the text box left to align with the specific coordinates */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.textbox span {
    position: absolute;
    left: 305px; /* Adjust this value to move text left */
    top: 67%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #000;
    white-space: nowrap;
}

.refresh-button {
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.refresh-button:hover {
    background-color: #0056b3;
}